.contentMsj{
    background-color: #242526; 
    min-height: 70vh;
    max-height: 70vh;
}

.chatAll{
    background-color: rgba(0, 0, 0, 0.651); 
}

.contactos{
    min-height: 63.4vh;
    max-height: 63.4vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.contactoMsj {
    background-color: #242526; 
    text-decoration: none;
}

.contactoMsj:hover {
    background-color: #17a2b8; 
    cursor: pointer;
    text-decoration: none;
}

.contactoMsj .msj{
    width: 70%
}

.contactoMsj .msj h6 {
    font-weight: bold;
}

.contactoMsj .msj p {
    font-size:15px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}
/*------------------*/

.ChatActivo{
    background-color: rgba(0, 0, 0, 0.651);  
}

.ChatActivo h5{
    font-weight: bold; 
}

.chat{
    background-color: #242526; 
    min-height: 56vh; 
    max-height: 56vh; 
    overflow-y: scroll; 
    overflow-x: hidden;
}

.chatContentleft{
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

.chatContentright p{
    background-color: #17a2b8;
    border-radius: 10px;
}

 .responder{
    background-color: rgba(0, 0, 0, 0.651); 
}

.responder input{
    width: 90%;
    color: white;
}

.responder i:hover{
    color: #17a2b8;
    cursor: pointer;
}



