/* #5a5281;*/
.main .container-fluid{
   background-color:  rgba(132, 23, 233, 0.489); 
}

.main .container-fluid .row li{
    margin-top: 1rem;
    list-style: none;
}

.main .container-fluid .row li a{
    color: #91d5b3;
    cursor: pointer;
}

.main .container-fluid .row h1{
    font-size: 2rem;
    margin-left: 4rem;
}

.main .container-fluid .row .col-md-8 .row iframe{
    margin-left:  4rem;
}

.main .container-fluid .row .col-md-8 .row .fa-thumbs-up{
    color: #abdde5;
    /*color: #d5c391;*/
}

.main .container-fluid .row .col-md-8 .row h3{
    font-size: 1rem;
    margin-left: 1rem;
}

.main .container-fluid .row div h2{
    font-size: 0.8rem;
}

.main .container-fluid .row div a{
    color:#41a1e0 ;
    cursor: pointer;
    font-weight: bold;
}

.main .container-fluid .row .contenido-curso{
    margin-top: 1rem;
}

.main .container-fluid .row .contenido-curso h2{
    font-size: 1rem;
}

.main .container-fluid .row  .contenido-curso ul{
    padding: 0;
    margin-left: 1rem;
}

.main .container-fluid .row  .contenido-curso ul li {
    margin-top: 0.2rem;
}

.main .container-fluid .row  .contenido-curso ul li i{
    margin: 0.5rem;
}


.main .container-fluid .row .col-md-4 .row .col-md-6 h3{
    font-size: x-large;
    font-weight: bold;
}

.main .container-fluid .row .col-md-4 .row .col-md-6 button{
    font-weight: bold;
    /*background-color: #573ae6;*/
    cursor: pointer;
    border-radius: 10px;
    height:3rem;
}



.main .container .row{
    margin-top: 2rem;
}

.main .container .btn-group button{
    color:white;
}

.main .container .row .Detalles ul{
    margin: 1rem 0 2rem 0;
}

.main .container .row .Detalles ul li{
    background-color: #3333339b;
    border-color: #4949499b;
}

.main .container .row .Detalles ul li a{
    color:white;
}

.main .container .row .Detalles ul li a:hover{
    color:#abdde5;
}

.main .container .row .Detalles ul li span{
    font-size: 0.8rem;
    background-color: #6247e7;
}

.main .container .row .Detalles ul li .free{
    background-color: #5bd498;
}

.main .container .row .Comentarios{
    display: none;
    margin: 0 0 1rem 0;
}

.main .container .row .Comentarios .row{
    background-color: #3333339b;
    border-bottom-style:solid;
    border-width: 1px;
}

.main .container .row .Comentarios .row .col-md-1 img{
    width: 4rem;
    height: 4rem;
}

.main .container .row .Comentarios .row .col-md-10 h1{
    font-size: 1rem;
    font-weight: bold;
}

.main .container .row .Comentarios .row .col-md-10 h2{
    font-size: 0.8rem;
    font-weight:lighter;
}

.main .container .row .Comentarios .row .col-md-10 .calif-comentario i{
    font-size:x-large;
    color: #6247e7;
}

.main .container .row .Comentarios .pagination{
    margin: 20px 0;
}

.main .container .row .Comentarios .pagination li{
    margin: 0 10px 10px 0;
}

.main .container .row .Comentarios .pagination a{
    color: #6247e7;
}

.main .container .row .Comentarios .pagination a:hover{
    color: #6247e7d7;
}

/*Seccion comentarios cursos*/
.comment{
    padding-left: 25px;
    padding-right: 0;

}

.ico {
    display: flex;
    width: 8%;
    /*margin-top: 15px;
    margin-right: 15px;*/
    padding: 5px 1%;
}
.ico img {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.commentcontent {
    display: flex;
    cursor: pointer;
    margin: 5px 2.5%;
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    /*max-width: 800px;
    max-height: 300px;*/
    background: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.Commentcontainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 20px 0px;
    padding: 5px;
    padding-top: 15px;
    justify-content: center;
    /*width: 80vw;
    max-width: 800px;
    max-height: 300px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.makecomment{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*FIN Seccion comentarios cursos*/