body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Mukta', sans-serif;
}

 #logo{
    margin: 5rem;
}

.container #logo .col-12 h1{
    color: white;
    font-weight: bold;
}

.container #logo .col-12 img{
    width: 10%;
    border-width: 2rem;
    margin-bottom: 3rem;
}

.container .form-group{
    margin: 0 25rem;
}

.container  h2, h4{
    color: white;
    font-size: 20px;
    margin-top: 0.5rem;
}

.container  h4{
   font-size: 15px;
}

.container  h3{
    font-size: 15px;
    margin-top: 0.5rem;
}

.container .row .col-12 button, .container #loginform button{
    background-color: rgb(132, 23, 233);
    color: white;
    font-weight:bold;
    margin: 1rem;
}

.container .row .col-12 #facebook{
    background-color: blue;
    margin-right: 6rem;
    width: 110px;
}

.container .row .col-12 #google{
    background-color: red;
    margin-left: 6rem;
    width: 110px;
}

.container .row .col-12 #registro{
    background-color: #222222;
    color: rgb(132, 23, 233);
    margin: 0;
}

.error{
    border-color: red;
    color: red;
    border-width: medium;
}


.container .row .col-12 #google:hover{
    background-color: rgb(224, 18, 18);
}

.container .row .col-12 #facebook:hover{
    background-color: rgb(3, 3, 228);
}

.container .row .col-12 #registro:hover{
    color: rgb(125, 41, 204);
}

.container .row .col-12 button:hover{
    background-color:  rgb(125, 41, 204);
}