
.profcontenthd{
    padding:  0 10%;
    max-width: 1728 px;
    background: #333333 ;
}

.profcontent{
    padding:  0 10%;
    max-width: 1728 px;
}
.avatar{
    display: flex;
    padding: 25px;
    width: 200px;
}

.profileheader .userinfo{
    padding-top: 25px ;
}

.fa-comment-dots:hover{
    color: #91d5b3;
}

.profileheader{
    display: flex;
}

.avatar img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}


.profileheader, .subnavprof{   
    width: 1000px;
    margin: 0 auto;
}

#subnav
{
    background: #333333;
}

.userinfo .name{
    font-size: 2rem;   
    margin-bottom: auto;
}

#p-username, #userdescription{
    color: white;
}

#profilename{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
    color: #91d5b3;
}

#profilename::before{
    content: "@";
}


.avatar {
    position: relative;
}

.avatar p{
    display: flex;
    position: absolute;
    right: 25px;
    top:  25px;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    border-radius: 50%;
    background-color: #91d5b3;
    font-size: 1.25rem;
}

label {
    cursor: pointer;
 }
 
 #upload-photo {
    display: none;
 }
 
 .subnavprof .nav-tabs
 {
  border-bottom: none;
 }

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.nav .nav-item .active
{   border: none;
    border-bottom: solid 3px #91d5b3!important;
   color: white;
}

.nav .nav-item a{
    color: white;
}

.subnavprof .nav-link:hover{
    border:transparent;
}


.nav-tabs .nav-link.active
{
    background: none;
}
@media (max-width: 1000px) {
    .maincontent{
        padding: 0%!important;
    }
    
}