body{
    margin: 0;
    padding: 0;
    background-color: #222222 ;
}

.container .form-group{
    text-align: center;
    align-items: center;
    padding: 0 10%;
}

.form-group input{
    margin: auto;
}

.container  h2, h4{
    color: white;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    margin-top: 0.5rem;
}

.container  h4{
   font-size: 15px;
}

.container  h3{
    color: red;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    margin-top: 0.5rem;
    display: none;
}

.container button{
    background-color: rgb(132, 23, 233);
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight:bold;
    margin: 1rem;
}

.container .row .col-12 #facebook{
    background-color: blue;
    margin-right: 6rem;
    width: 110px;
}

.container .row .col-12 #google{
    background-color: red;
    margin-left: 6rem;
    width: 110px;
}

.container .row .col-12 #registro{
    background-color: #222222;
    color: rgb(132, 23, 233);
    margin: 0;
}

.error{
    border-color: red;
    color: red;
    border-width: medium;
}


.container .row .col-12 #google:hover{
    background-color: rgb(224, 18, 18);
}

.container .row .col-12 #facebook:hover{
    background-color: rgb(3, 3, 228);
}

.container .row .col-12 #registro:hover{
    color: rgb(125, 41, 204);
}

.container button:hover{
    background-color:  rgb(125, 41, 204);
}