
.container .row .chatbusqueda{
    background-color: rgba(0, 0, 0, 0.651);  
}

.container .row .chatbusqueda h1{
    font-size: 30px;
}

.container .row .chatbusqueda i{
    cursor: pointer;
}

.container .row .chatbusqueda i:hover{
    color:#17a2b8;
}

.container .row .busqueda {
    background-color: rgba(17, 17, 17, 0.582); 
}

.container .row .busqueda input{
    border-radius: 5px;
    width: 80%;
}

.container .row .contactoMsj {
    background-color: #242526; 
}

.container .row .contactoMsj:hover {
    background-color: #17a2b8; 
    cursor: pointer;
}

.container .row .contactoMsj .msj{
    width: 70%
}

.container .row .contactoMsj .msj h6 {
    font-weight: bold;
}

.container .row .contactoMsj .msj p {
    font-size:15px;
}
.container .row .ChatActivo{
    background-color: rgba(0, 0, 0, 0.651);  
}

.container .row .ChatActivo h5{
    font-weight: bold; 
}

.container .row .chat{
    background-color: #242526; 
}

.container .row  .chatContentleft{
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

.container .row  .chatContentright p{
    background-color: #17a2b8;
    border-radius: 10px;
}

.container .row .responder{
    background-color: rgba(0, 0, 0, 0.651); 
}

.container .row .responder input{
    width: 90%;
    color: white;
}

.container .row .responder i:hover{
    color: #17a2b8;
    cursor: pointer;
}



