.main .container-fluid .row h1{
    font-size: 2rem;
    margin:1rem 0 0 4rem;
}

.main .container-fluid .row .col-md-3 .row ul{
    width: 100%;
  /*  height: 37rem;
    
    overflow-x: hidden; 
    overflow-y: scroll;*/
}

.main .container-fluid .row .col-md-3 .row ul:hover{
    z-index: -1;
}

.main .container-fluid .row .col-md-3 .row ul li{
    background-color: #3333339b;
    border-color: #4949499b;
    border-left-width: 1rem;
}

.main .container-fluid .row .col-md-3 .row ul li a{
    cursor: pointer;
    color: #6247e7;
}

#nivel-sel{
    color: #41a1e0
}

.main .container-fluid .row .col-md-9 .nav a{
   /* color:  #abdde5;*/
   color: #6247e7;
    font-weight: bold;
}

.main .container-fluid .row .col-md-9 .tab-content{
    margin-top:1rem;
}

.main .container-fluid .row .col-md-9 .tab-content #video{
    margin-bottom: 2rem;
}

.main .container-fluid .row .col-md-9 .tab-content #video iframe{
    height: 35rem;
}

/*seccion comentario*/
.main .container-fluid .row .comentario  .crear-comentario textarea{  
    height: 5rem;
    width: 100%;
    background-color: #3333339b;
    color: white;
    font-weight: lighter;
    margin: auto;
    margin-bottom: 0.6rem;
}

.main .container-fluid .row .comentario .crear-comentario i{
    padding: 0.5rem;
    cursor: pointer;
}

 .main .container-fluid .row .comentario .crear-comentario i:hover{
    color: #6247e7;
}

.main .container-fluid .row .comentario .crear-comentario h2{
    font-size: 0.8rem;
    font-weight: bold;
}

.main .container-fluid .row .comentario .crear-comentario button{
    background-color: #6247e7;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom:  1rem;
}

.main .container-fluid .row .comentario .crear-comentario button:hover{
    background-color: #543dc5;
}

.main .container-fluid .row .comentario  .row{
    background-color: #3333339b;
    border-bottom-style:solid;
    border-width: 1px;
}

.main .container-fluid .row .comentario .row .col-md-1 img{
    width: 3rem;
    height: 3rem;
}

.main .container-fluid .row .comentario .row .col-md-10 h1{
    font-size: 1rem;
    font-weight: bold;
}

.main .container-fluid .row .comentario  .row .col-md-10 h2{
    font-size: 0.8rem;
    font-weight:lighter;
}

.main .container-fluid .row .comentario .row .col-md-10 .calif-comentario i{
    font-size:x-large;
    color: #6247e7;
}

.main .container-fluid .row .comentario .pagination{
    margin: 20px 0;
}

.main .container-fluid .row .comentario .pagination li{
    margin: 0 10px 10px 0;
}

.main .container-fluid .row .comentario .pagination a{
    color: #6247e7;
}

.main .container-fluid .row .comentario .pagination a:hover{
    color: #6247e7d7;
}

.likedislike{
    color: #6247e7;
}
a {

    color: #91d5b3;

}

a:hover {

    color: #6247e7;

}