* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
}

.container-fluid{
    height: 100vh;
}

.nombreUser{
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.nombreUser h2{
    font-size: 50px;
}
