.btn_round {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.btn_round:hover {
  color: #fff;
  background: #6b4acc;
  border: 1px solid #6b4acc;
}

.btn_content_outer {
  display: inline-block;
  width: 85%;
}
.close_c_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 0px;
  line-height: 30px;
  border-radius: 50%;
  background: #ededed;
  border: 1px solid #ccc;
  color: #ff5c5c;
  text-align: center;
  cursor: pointer;
}

.add_icon {
  padding: 10px;
  border: 1px dashed #aaa;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.add_group_btn {
  display: flex;
}
.add_group_btn i {
  font-size: 32px;
  display: inline-block;
  margin-right: 10px;
}

.add_group_btn span {
  margin-top: 8px;
}
.add_group_btn,
.clone_sub_task {
  cursor: pointer;
}

.sub_task_append_area .custom_square {
  cursor: move;
}

.del_btn_d {
  display: inline-block;
  position: absolute;
  right: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}

.row{
  margin: 0;
}


.formtabs{
  width: 100%;
}

.subnavform{
border: none;

}


.subnavform .nav-tabs
{
 border-bottom: none;
}


.subnavform .nav-link:hover{
  border:transparent;
}
#createcourseform h1,h2,h3,h4,h5,h6{
  display: inline-flex;
}
#formtitle{
  background-color: #91d5b3; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#createcoursedata{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #333;
}

#formtitle h4{
 color: #fff;
 margin: 0;
}

.subnavform .nav-tabs .nav-link{
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

.subnavform .nav .nav-item .active {
  border: none;
      border-right-color: currentcolor;
      border-right-style: none;
      border-right-width: medium;
      border-right: solid 2px #91d5b3 !important;
      border-left-color: currentcolor;
      border-left-style: none;
      border-left-width: medium;
      border-left: solid 2px #91d5b3 !important;
    border-bottom: none;
  color: white;
}

#subnav {
  background: #91d5b3;
}

.nav-tabs .nav-link.active
{
    background: #333333;
}

.nav .nav-item .active
{   border: none;
    color: white;
}


.nav .nav-item a{
  color: white;
}

.nav-tabs {
  border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
      border-bottom: solid 2px #91d5b3 !important;
}

.nav-tabs .nav-item {
  margin-bottom: -4px;
}

.p-2 {
  padding-top: 1rem !important; 
  padding-left: 1rem !important; 
  padding-bottom: 0 !important;
}
#myTab{
  padding-left: 1rem !important; 
}

#createcourseform{
  border-radius: 25px;
}

.levelcontent{
  padding-left: 40px;
}

.levelcontent h3{
  margin-left: -10px;
}

.form-group {
  margin-bottom: 0;
}

.levelcontent{
  margin-bottom: 25px;
}

.flexdiv{
  margin-left:auto;
  margin-right: 15px;
}

.subnavform li a{
  font-size: 1.05rem;
}

.levelssection{    
  margin-left: 30px;
  margin-right: 20px;
}

.courselevel h6, .row h6{
  padding-left: 10px;
  align-items: center;
  margin: 0;
  font-size: 1.15rem;
}

.accordion{
  border-radius: 10px;
  overflow: hidden;
}

.accordion .card{
  border-radius: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.row p{
    font-size: 1.025rem;
}

.accordion h3{
  margin: 0;
  font-size: 1.1rem;
  color: white;
}

.card-body .levelcontent{
  margin: 0;
  padding: 0;
}


.accordion .card-body{
  background-color: #525252;
}

.accordion .card-header{
  background-color: #91d5b3;
}

.formsection
{
  width: 100%;
  margin-bottom: 20px;
}


.accordionlevels, .accordionlevels .container{
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}



.accordionlevels .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #444444;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

.accordionlevels .card-header {
  padding: .75rem 1.25rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
  background-color: #91d5b3;
  border:none;
  border-bottom: 0x solid #4444441c;
  box-sizing: border-box;
}




.card-header:first-child {
  border-radius: 0;
}

