body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Mukta', sans-serif;
}

.header{
    top:0;
    position: fixed;
    width: 100%;
    z-index:16;
}

.header nav{
    min-height: 80px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.header nav .navbar-brand{
    margin-left: 10%;
}


/*.header .container-fluid{
Header*/
.navbar{
    background-color: rgb(132, 23, 233);
}

.navbar a{
    text-decoration: none;
    padding: 2px;
    color: white !important; 
   
}

.navbar a:hover{
    color: rgb(201, 201, 201);
    cursor: pointer;
}

.navbar a h1{
    font-size: 1.5rem;
}

.navbar img {
    margin-bottom: 0.5rem;
}

.navbar-toggler-icon{
    color: #fff !important;
}


.searchbar {
    margin: auto 0;
}


.dropdown-menu {
    border-radius: 0;
    border: none;
}
/*
.header input{
    width: 85%;
    padding: 0.5rem;
}

.searchbar form  {
    width: 70%;
     min-width: 500px;
}
*/
input:focus{
    outline: 0 none;
}

button:focus{
    outline: 0 none;
}

.header .container-fluid .row .col-md-5 i{
    cursor: pointer;}



   /*conflict 09003*/ 
.navbar-collapse form input{
    width: 35rem;
    padding: 0.5rem;
}

.navbar-collapse form i{
    color: white;
}

.navbar-collapse form i:hover{
    color: rgb(216, 216, 216);
    cursor: pointer;
}

#img-perfil{
    padding: 0;
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.dropdown-menu{
    background-color: rgb(132, 23, 233);
}

.dropdown-item:hover{
    background-color: rgb(101, 21, 175);
}
/**/

input:focus{
    outline: 0 none;
}

button:focus{
    outline: 0 none;
}



/*Formato botones*/
.roundbutton {
    border-radius: 17px;
    padding: 5px 18px;
    background-color: #91d5b3;

}

.roundbutton:hover{
    background-color: #7ab99a;
    
}

.sqrrndbtn{
    padding: 3px 15px;
    border-radius: 4px;
    border: 1px solid  black;
    background: transparent;
}

.sqrrndbtn {
    font-weight: bold;
}


.btn-primary:hover
{
    color: #fff;
    background-color: #91d5b3;
    border-color: #91d5b3;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #91d5b3;
    border-color: #91d5b3;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(112, 192, 152, .5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(112, 192, 152, .5);
}

.dropdown-menu{
    background-color: rgba(132, 23, 233, 0.808);
    margin-top: 1rem;
    right:0 !important;

}


.btn-primary {
    color: #fff;
    background-color: rgb(132, 23, 233);
    border-color: rgb(132, 23, 233);
}


.form-group .form-control {
    display: block;
    width: 100%;
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .5rem;
}



/*Fin dormato botones*/

/*Formato inputs*/


/*Fin Formato inputs*/
.searchboxnav {
    border-radius: 20px;

}

.main {
    min-height: 80.6vh;
    margin-top:  75px;
}

/*EditarPErfil*/
#EditarPerfil{
    background-color: rgb(132, 23, 233);
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight:bold;
    margin: 1rem;
}

#EditarPerfil:hover{
    background-color: rgb(111, 15, 201);
}
/*EditarPErfil*/

/*pag busqueda*/
form input{
    cursor: pointer;
    border: none;
}

form select{
    cursor: pointer;
    border: none;
}

select:focus{
    outline: none 0;
}
/**/

/*historial*/
.card{
    box-shadow: 0 0 20px 7px rgba(56, 56, 56, 0.603);
}


.accordion .card{
    box-shadow:  0 0 0 0 rgba(0, 0, 0);
}


.carousel-item2 {
    height: 85vh;
  }
  
  .carousel-item2 img {
      position: absolute;
      top: 0;
      left: 0;
    overflow: hidden;
  }


/* Seccion cursos */

h1{
    margin: 0;
}

.recentcourses, .bestvaluedcourses, .bestsellingcourses{
    width: 90%;
    margin: 0 auto;
}
.coursesection{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.coursesectiontitle{

    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    color: #91d5b3;
}
.coursecard {
    width: 90%;
    text-align: center;
    margin: 0 1%;
    border:none;
    border-radius: 12px!important;
    overflow: hidden;
    background-color: #3A3A3A;
    color: white;

}
.coursecard>img{
   
    overflow: hidden;
    position: relative;

}

.coursescarousel{
    width:90%; 
    text-align: center;
    margin: 0 auto;
}


.imagelabel p {
    position: absolute;
    right:  0px;
    bottom: 0px;
    margin: 0;
    padding: 3px 10px; 
    background-color: blueviolet;
}

.imgholder {
    position: relative;
}
.tab-content {
    padding: 20px 0;
}


#carouselExampleIndicators .carousel-item2 img{
    min-width: 100%;
    min-height: 100%;
}


/*Errores*/
label.error { 
    float: none; 
    color: red; 
    padding-left: .5em; 
    vertical-align: middle; 
    font-size: 12px; 
}


.has-error{
    box-shadow: 0 0 0 .2rem rgb(255, 50, 0, .6)!important;
}
/*Fin de Errores*/


/* navbarresponsive */

@media (min-width: 0px) and (max-width: 992px) {
    .header .navbar-nav
    {
        width: 90%!important;
    }
    
    #leftsect{
        margin: auto;
        width: 90%;
        min-width: 400px;
    }


 }