.main .container{
    margin-top: 100px;
}

.main .container h1{
    font-weight: bolder;
}

.main .container .col-md-8 .pago{
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    align-items: center;
}

.main .container .col-md-8 .metodoPago{
    margin: 40px;  
}

.main .container .col-md-8 .metodoPago input{
    margin-left: 40px;  
}

.main .container .col-md-8 h2{
    font-size: 20px;
}

.main .container .col-md-8 h3{
   margin-left: 20rem;
   font-size: 22px;
}

.main .container .col-md-4 {
    background-color: rgba(0, 0, 0, 0.466);
    /*height: 30rem;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 10px;
}

.main .container .col-md-4 h6{
    font-size: 15px;
}

.main .container .col-md-4 h2{
    font-size: 25px;
    font-weight: bold;
}

.main .container .col-md-4 button{
    height: 50px;
    color: white;
    background-color: #17a2b8;
    cursor: pointer;
    margin-bottom: 10px;
}

.main .container .col-md-4 button:hover{
    background-color: #148da0;
}


form input {
    border-radius: 10px;
    width: 100%;
    border: none;
}


form{
    text-align: center;
}

form #paybutton{
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}