@media (max-width: 768px) {
    .coursescarousel .carousel-inner .carousel-item > div {
        display: none;
    }
    .coursescarousel  .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.coursescarousel .carousel-inner .carousel-item.active,
.coursescarousel .carousel-inner .carousel-item-next,
.coursescarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 5 */
@media (min-width: 768px) {
    
  .coursescarousel .carousel-inner .carousel-item-right.active,
  .coursescarousel .carousel-inner .carousel-item-next {
      transform: translateX(19.64%);
    }
    
    .coursescarousel .carousel-inner .carousel-item-left.active, 
    .coursescarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-19.64%);
    }
}

.coursescarousel .carousel-inner .carousel-item-right,
.coursescarousel .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

